<tr class="row">
  <th class="col-2">
    <a
      class="text-dark"
      href="/boards/home/<%= item.User.name %>/<%= item.userId %>/0"
      ><%= item.User.name %></a
    >
  </th>
  <td class="col-7"><%= item.message %></td>
  <% const beforeDate = new Date(item.createdAt) %> <% const year =
  beforeDate.getFullYear() %> <% const month = beforeDate.getMonth() + 1 %> <%
  const date = beforeDate.getDate() %> <% const hour = beforeDate.getHours() %>
  <% const minute = beforeDate.getMinutes() %>
  <td class="col-3">
    <%= year %>年<%= month %>月<%= date %>日<%= hour %>:<%= minute%>
  </td>
</tr>
